.post {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  }
  .post__top {
    display: flex;
    position: relative;
    padding: 15px;
    align-items: center;
  }
  .post__avatar {
    margin-right: 10px;
  }
  .post__topInfo > h3 {
    font-size: medium;
  }
  .post__topInfo > p {
    font-size: small;
    color: gray;
  }
  
  .post__bottom {
    margin-bottom: 10px;
    padding: 5px 25px;
  }
.post__bottom > span {
    color: blue;
    display: block;
}
  .post__image > img {
    width: 100%;
  }
  
  .post__options {
    border-top: 1px solid lightgray;
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    
  }
  .post__option {
    padding: 5px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .post__option > p {
    margin-left: 10px;
  }
  .post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
  }
  .btn__post {
    flex: 0 0 auto;
  }
  .post__topInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .day__post--public {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .daymy__post {
    margin: 0px 5px 0px 0px;
  }
  .day__post{
    padding: 5px 0px;
  }
.cart__item3-hang3{
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.carttext-hang3{
  color: black;
  margin-left: 7px;
  font-size: 18px
}
.carttext2-hang3{
  color: black;
  margin-left: auto;
  font-size: 18px;
  margin-right: 20px;
}
.cart__image-hang3{
  margin-left: 15px;
  width: 30px;
  height: 30px;
}
.post__title {
  font-weight: 700;
}
.daymy__post > span {
  font-size: 14px;
}
.contact-icon__15 {
  border-radius: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-width: 0px;
  outline: none;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  width: 40px;
  height: 40px;
  color: rgb(30, 30, 30);
  margin-left: auto;
  margin-right: 10px;
}
.contact-icon__15 > .MuiSvgIcon-root {
  font-size: 2em;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .post {
    width: 85%;
  }
}