.sidebar {
    padding: 25px 10px;
    flex: 0.33;
    font-size: 15px;
  }
.sidebar__img > img {
    width: 40px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    box-shadow: 0px 5px 17px -7px rgb(0 0 0 / 75%);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}
.sidebar__img {
  margin-top: 15px;
}
.sidebar__lt > span {
  font-weight: 800;
  color: grey;
}
.sidebar__img > span {
  font-weight: 600;
  color: ivory;
}





@media only screen and (min-width: 768px) and (max-width: 1024px) {
.sidebar {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
.sidebar {
  display: none;
}
}