.App {
  background-color: #052424;
}
.app__body {
  display: flex;
}
.btn__messerger--icon {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    outline: none;
    cursor: pointer;
    background-color: grey;
    width: 45px;
    height: 45px;
    color: rgb(30, 30, 30);
}
.btn__messerger {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 15px;
    z-index: 10;
    border-radius: 100%;
}
.bx-edit {
  font-size: 25px;
}
@media only screen and (max-width: 767px) {
  .App {
    background-color: cornsilk;
  }
}